[Unit]
Description=HVE server
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
PIDFile=/etc/helio/pids/server.pid
ExecStart=/etc/helio/bin/helio-server
ExecStop=kill -s SIGEXIT $(cat /etc/helio/pids/server.pid)
Environment='PORT=8080'

[Install]
WantedBy=multi-user.target
Alias=helio-server.service 